extends home.pug
extends meals.pug 
extends drinks.pug
extends order.pug

block section
    form(action="/", method="POST")
        select(name="category") 
            options(value = "0") Hosting issues 
            options(value = "1") Website issues
            options(value = "2") Misc

        textarea(name="issue", cols="30", rows="10") 
        button.btn Create ticket

    p You can check result of your ticket 
    a(href = "/check") here 
    script(src="/scripts/script.js") 